@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");

:root {
  --amarilloTitulos: #f5d38e;
  --amarilloBoton: #f2c66d;
  --grisInput: #323842;
  --grisTexto: #9095a0;
  --negro: #171a1f;
  --verdeBotones: #0d554a;
  --bordeABotones: #9aefe2;
  --secundario: #fff;
  --principal: #093931;
  /* Tipografía */
  --tipo-principal: "Cormorant Garamond", serif;
  --tipo-secundaria: "Manrope", sans-serif;
}

h1,
h2 {
  font-family: var(--principal);
}
h3,
p,
button {
  font-family: var(--secundario);
}
h1 {
  font-size: 2em;
}
h2,
button,
h3 {
  font-size: 1em;
}
p {
  font-size: 0.875em;
}
svg {
  width: 1.5rem;
  height: 1.5rem;
}

header {
  height: auto;
}
main {
  background-color: var(--secundario);
  /* padding: 0rem 27.5rem; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container_thank_image {
  /* background-color: rebeccapurple; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem 0rem;
}
.container_thank_image > img {
  width: auto;
  border-radius: 50%;
  /* margin: 0rem 2.5rem 1.5rem 2.5rem; */
  margin-bottom: 1.5rem;
}
.container_thank_image > figcaption > h1 {
  text-align: center;
  margin-bottom: 0.75rem;
}
.container_thank_image > figcaption > p {
  text-align: center;
}

.container_order {
  padding: 1.5rem;
  margin-bottom: 6rem;
  /* border: 1px solid salmon; */
}

.order_data .row,
.order .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15em;
  /* border: #171a1f 1px solid; */
}
.order_data .row,
hr {
  margin-bottom: 1.2rem;
}

.order_data .row .column,
.order .row .column {
  display: flex;
}

.order_data .row .column > h3 {
  margin-left: 0.75rem;
  font-weight: 400;
  color: var(--grisTexto);
}

.order_data .row .column_img > svg {
  width: 2.875rem;
  height: 2rem;
}

.order {
  height: 14.5rem;
  overflow-y: scroll;
}

.order .row {
  margin-top: 1.2rem;
}

/* tamaño */
.order::-webkit-scrollbar:vertical {
  width: 0.625rem;
}
/* apariencia */
.order::-webkit-scrollbar {
  -webkit-appearance: none;
}
/* color */
.order::-webkit-scrollbar-thumb {
  background-color: var(--grisTexto);
  border-radius: 1.2rem;
  border: 2px solid var(--secundario);
}

.order .row .column > img {
  width: 5.875rem;
  height: 5.875rem;
}

.order .row .column > figcaption {
  margin-left: 1rem;
}

.order .row .column > figcaption > p {
  color: var(--grisTexto);
  font-size: 0.6875em;
}

.order .row .column > figcaption > h3 {
  font-size: 0.75em;
  font-weight: 400;
  margin: 0.25rem;
}

.order .row > div > p {
  font-weight: 600;
  margin-right: 0.75rem;
}

.container_order > button {
  margin: 1.5rem auto 0rem auto;
  border-radius: 1.375rem;
  padding: 0.5rem 1rem;
  background: var(--verdeBotones);
  color: var(--secundario);
}

@media screen and (max-width: 960px) {
  h1 {
    font-size: 1.8em;
  }
  h2,
  button,
  h3 {
    font-size: 0.9em;
  }
  p {
    font-size: 0.8em;
  }
  svg {
    width: 1.3rem;
    height: 1.3rem;
  }
  .order .row .column > figcaption > p {
    font-size: 0.6em;
  }
  .order .row .column > figcaption > h3 {
    font-size: 0.7em;
  }
  .order_data .row,
  .order .row {
    gap: 9em;
  }
  .container_thank_image > img {
    width: 13rem;
  }
  .container_thank_image {
    margin: 3rem 0rem 2rem 0rem;
  }
}

@media screen and (max-width: 768px){
  h1 {
    font-size: 1.6em;
  }
  h2,
  button,
  h3 {
    font-size: 0.8em;
  }
  p {
    font-size: 0.7em;
  }
  svg {
    width: 1.2rem;
    height: 1.2rem;
  }
  .order .row .column > figcaption > p {
    font-size: 0.5em;
  }
  .order .row .column > figcaption > h3 {
    font-size: 0.6em;
    margin: 0rem 0rem 0rem 0.25rem;
  }
  .container_thank_image > img {
    width: 11rem;
  }
  .container_thank_image {
    margin: 3rem 0rem 1rem 0rem;
  }
  .order_data .row,
  .order .row {
    gap: 6em;
  }
  .order_data .row, hr {
    margin-bottom: 0.5rem;
  }
  .order_data .row .column_img > svg {
    width: 2.8rem;
    height: 1.5rem;
  }
  .container_order {
    margin-bottom: 5rem;
  }
  .order {
    height: 12rem;
  }
  .order .row .column > img {
    width: 5rem;
    height: 5rem; 
  }
  .order .row {
    margin-top: 1rem;
  }
  .order::-webkit-scrollbar:vertical {
    width: 0.6rem;
  }
  .container_thank_image > figcaption > h1 {
    margin-bottom: 0.5rem;
  }
}

@media screen and (max-width:480px) {
  h1 {
    font-size: 1.3em;
  }
  h2,
  button,
  h3 {
    font-size: 0.7em;
    line-height: 1rem;
  }
  p {
    font-size: 0.6em;
  }
  svg {
    width: 1rem;
    height: 1rem;
  }
  .order .row .column > figcaption > p {
    font-size: 0.4em;
    line-height: 1rem;
  }
  .order .row .column > figcaption > h3 {
    font-size: 0.5em;
    line-height: 1rem;
  }
  .container_thank_image > img {
    width: 9rem;
    margin-bottom: 1rem;
  }
  .container_thank_image {
    margin: 3rem 0rem 0rem 0rem;
  }
  .container_order {
    margin-bottom: 1.5rem;
  }
  .order .row {
    gap: 3em;
  }
  .order {
    height: 5rem;
  }
  .order_data .row{
    gap:1em;
  }
  .order_data .row, hr {
    margin-bottom: 0.25rem;
  }
  .order .row >div{
    display: flex;
    align-self:flex-start;
  }
  .order .row > div > p {
    margin: 0rem 0.2rem;
  }
  .order .row .column > img {
    width: 4rem;
    height: 4rem;
  }
  .order .row .column > figcaption {
    margin-left: 0.5rem;
  }
  .order::-webkit-scrollbar:vertical {
    width:4px;
  }
}